<h1>Angular Leather Lane Market App</h1>

<div ng-controller="MarketController">
  <nav>
    <h2>Stalls</h2>
    <input ng-model="search" placeholder="Search" />
    <ul>
      <li class="new_item" ng-show="newStall" ng-click="selectStall(newStall)" ng-class="{ highlighted: stall === selectedStall }">{{ newStall.name }}</li>
      <li ng-repeat="stall in stalls | filter:search | orderBy:'name'" ng-click="selectStall(stall)" ng-class="{ highlighted: stall === selectedStall }">{{ stall.name }}</li>
    </ul>
    <h3>Add an item</h3>
    <!-- <aside>Form is {{stallForm.$valid}}</aside> -->
    <form name="stallForm" ng-submit="stallForm.$valid && addStall()" novalidate>
      <label>Name</label>
      <input type="text" ng-model="newStall.name" required /><br>
      <label>Price</label>
      <div class="warning-number">Price must be between 1 and 10</div>
      <input type="number" ng-model="newStall.price" min="1" max="10" required /><br>
      <label>Description</label>
      <textarea ng-model="newStall.description"></textarea><br>
      <button>Submit</button>
    </form>
  </nav>
  <section ng-show="selectedStall">
    <div ng-click="clearSelectedStall()" class='close'><a href="">x</a></div>
    <h2>Selected Stall Details</h2>
    <table>
      <tr> 
        <td>Name:</td>
        <td ng-hide="editStall">{{ selectedStall.name }}</td>
        <td ng-show="editStall"><input ng-model="editStall.name" /></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td ng-hide="editStall"> {{ selectedStall.price}}</td>  
        <td ng-show="editStall"><input ng-model="editStall.price" /></td>  
      </tr>
      <tr>
        <td>Description:</td>
        <td ng-hide="editStall"> {{ selectedStall.description}}</td>
        <td ng-show="editStall"><textarea ng-model="editStall.description"></textarea></td>
      </tr>
    </table>
    <button ng-click="deleteStall(selectedStall)" class="btn btn-danger">Delete</button>
    <button ng-hide="editStall" ng-click="setEditStall(selectedStall)">Edit</button>
    <button ng-show="editStall" ng-click="updateStall(editStall)">Update</button>
  </section>
  <section ng-hide="selectedStall">
    <h2>Leather Lane</h2>
    <p>Leather Lane is an awesome market in Clerkenwell that has a wide variety of lunch options.  Select an option from the left to see more details.</p>
  </section>
</div>
